<footer class="footer">
    <div class="footer-content">
      <div class="footer-section">
        <!-- <h3>Srika Scrap Wala</h3> -->
        <img class="logo" src="../../assets/logo.png" />
      </div>
      <div class="footer-section">
        <h4>Quick Links</h4>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h4>Services</h4>
        <ul>
          <li><a href="#">E-Waste Recycling</a></li>
          <li><a href="#">Office Dismantling</a></li>
          <li><a href="#">Data Destruction</a></li>
          <li><a href="#">IT Refurbish</a></li>
        </ul>
      </div>
      <div class="footer-section">

        <h4>Join Us</h4>
      
        <form action="https://formsubmit.co/info@sirikascrapwala.com" method="POST" >
          <input type="email" name="Email" placeholder="Enter your email" name="email">
          <button type="submit">→</button>
        </form>
        <p style="font-size: 12px;">Sign up for updates on the latest news</p>
        <div class="social-icons">
          <p>Find us on social</p>
          <a href="#"><i class="fa-brands fa-facebook"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>Privacy Policy | Terms & Conditions of Use</p>
      <p>© 2024 Sirika Scrap Wala. All Rights Reserved.</p>
    </div>
  </footer>
  