
<div class="carousel-container">
    <div class="top-left-text">
        <!-- Srika Scrap Wala -->
        <img class="logo" src="../../assets/logo.png" />
      </div>
      <div class="top-right-text">
         <a href="#" (click)="refreshPage()">Home</a>
         <a href="#about">About</a>
         <a href="#services">Services</a>
         <a href="#contact">Contact Us</a>
      </div>
    <img class="image-back" [src]="images[currentImageIndex].src" [alt]="images[currentImageIndex].alt">
    <div class="text-on-image">
      
        <h1 class="caption-text">{{images[currentImageIndex].caption}} </h1>

        <p class="caption-text-desc">{{images[currentImageIndex].description}}</p>
        <div class="row">
          <a href="#services">  <button class="conatct-btn col" style="cursor: pointer !important;">Discover our services</button> </a>
            <a href="#contact"> <button  class="btn-success col"style="cursor: pointer !important;">Contact Us </button> </a>
        </div>
        <div class="navigation-dots">
            <span *ngFor="let image of images; let i = index" 
                  (click)="goToImage(i)" 
                  [class.active]="i === currentImageIndex">
              •
            </span>
          </div>
    </div>
 

    <a href="https://wa.me/+919100012203" target="_blank" class="whatsapp-link">
      <!-- <i class="fab fa-whatsapp"></i> -->
      <img src="../../assets/whatsapp.png" class="whatapp">
      <i class="fa-brands fa-whatsapp"></i>
    </a>
  </div>
  