<!-- First Slider -->
 <!-- <div class="container"  *ngIf="currentSlider === 1" [@slideInOut]>
  <div class="top-left-text">
    Srika Scrap Wala
  </div>
  <div class="top-right-text">
     <a href="#">Home</a>
     <a href="#">About</a>
     <a href="#">Services</a>
     <a href="#">Contact Us</a>
  </div>
    <div class="text-on-image">
        <h1>Unlock The Potential of <br> Scrap Recycling</h1>
        <p>we're dedicated to empowering businesses to unlock their full potential through strategic insights, 
            expert guidance, and customized solutions.</p>
            
        <div class="row">
            <button class="btn-success">Discover our services</button>
            <button class="conatct-btn">Contact Us</button>
            <a [href]="whatsAppUrl" target="_blank" title="Chat with us on WhatsApp">
              <i class="fab fa-whatsapp fa-2x" style="color: green;"></i>
            </a>
        </div>
    </div>
    <div class="bottom-eight-corner"></div>
</div>  -->
<!-- Second Slider -->
<!-- <div class="container"  *ngIf="currentSlider === 2" [@slideInOut]>
    <div class="top-left-text">
       Srika Scrap Wala
    </div>
    <div class="text-on-image">
        <h1>Give your E-waste a New Life</h1>
        <p>Transform your e-waste into a new beginning. We're committed to revitalizing businesses by offering strategic insights, expert guidance, and tailored solutions.</p>
        <div class="row">
            <button class="btn-success">Discover our services</button>
            <button class="conatct-btn">Contact Us</button>
        </div>
    </div>
    <div class="bottom-eight-corner"></div>
</div>  -->
<!-- Third Slider  -->
<!-- <div class="container-th" *ngIf="currentSlider === 3" [@slideInOut] >
    <div class="top-left-text">
       Srika Scrap Wala
    </div>
    <div class="text-on-image">
        <h1>Reduce, Reuse and Recycle</h1>
        <p>Embrace the mantra of Reduce, Reuse, and Recycle. We're committed to helping businesses maximize their potential by offering strategic insights, expert guidance, and personalized solutions.</p>
        <div class="row">
            <button class="btn-success">Discover our services</button>
            <button class="conatct-btn">Contact Us</button>
        </div>
    </div>
</div> -->


<app-carasaul></app-carasaul>


<!-- second screen  -->

<section class="services">
    <h1>Our Services</h1>
    <div class="service-container">
      <div class="service">
        <img class="recycleimg" src="../../assets/thrash.img.png" alt="">
        <h2>Scrap Trading</h2>
        <!-- <p>We offer safe and responsible e-waste recycling services to help businesses and individuals dispose of their electronic waste in an environmentally friendly way.</p> -->
        <p>: We buyers various scrap materials, including but not limited to metals, plastics, paper, and electronics. Our platform streamlines the process, ensuring fair transactions and reliable delivery.</p>
   
        
      </div>
      <div class="service">
        <img class="recycleimg" src="../../assets/chairs.jpg" alt="">
        <h2>Office Dismantling</h2>
        <p>We provide professional office dismantling services to help businesses with their relocation or renovation projects. Our team can carefully remove and dispose of all office furniture and equipment.</p>
      </div>
      <div class="service">
        <img class="recycleimg" src="../../assets/hammer.jpg" alt="">
        <h2>Scrap Management</h2>
        <!-- <p>We offer secure data destruction services to ensure that your confidential data is completely erased from your electronic devices. We use state-of-the-art methods to destroy data, so you can be confident that your information is safe.</p> -->
        <p>We offer comprehensive scrap management solutions tailored to the unique needs of businesses. From collection and sorting to processing and recycling, we handle every aspect of scrap management efficiently and responsibly.</p>
      </div>
      <div class="service">
        <img class="recycleimg" src="../../assets/iron scrap.jpg" alt="">
        <h2>Recycling & Recovery</h2>
        <p>We are committed to recycling and recovering as much material as possible from the e-waste we collect. This helps to reduce our environmental impact and conserve resources.</p>
      </div>
    </div>
  </section>


  <!-- Third screen   -->

 <div class="aboutUS">
    <section class="about-us">
        <h1 style="color: #008A45;
        ">About Us</h1>
        <!-- <p>At Srika Scrap Wala, we excel in not only facilitating the trading of scrap materials but also in <br>revolutionizing the entire process. Our seamless platform offers businesses a comprehensive solution,<br> streamlining the buying and selling of recyclable materials with unparalleled efficiency. Driven by a profound<br> commitment to sustainability and environmental responsibility, we go beyond mere transactions. Our mission<br> is to pioneer a circular economy where resources are utilized optimally and waste is minimized. Through <br>innovative strategies and cutting-edge technologies, we are dedicated to efficiently managing scrap resources, thereby contributing to a greener and more sustainable future for generations to come.</p> -->
        <p>At Sirika Scrap Wala, we specialize in facilitating the trading of scrap materials, providing a seamless platform for businesses <br> to buy and sell recyclable materials. With a commitment to sustainability  and environmental responsibility, we strive to create <br> a more  circular economy by efficiently managing scrap resources. Our main emphasis is on serving to multinational corporations <br> (MNCs), business process outsourcing (BPO) firms, banks, hospitals, industries, educational institutions, and the government sector.<br> Leveraging our extensive experience in waste management, we have cultivated a customer-centric business philosophy centered around <br>proactive and timely customer service, which forms the foundation of our company.</p>
      </section>
      <section class="mission" id="mission">
        <h1>Our Mission</h1>
        <p>Our mission is to pioneer a circular economy where resources are utilized optimally and waste is minimized. Through innovative strategies and cutting-edge technologies, we are dedicated to efficiently managing scrap resources, thereby contributing to a greener and more sustainable future for generations to come.</p>
      </section>
 </div>


  <!-- fourth screen -->

  <section class="services">
    <h1>Why Choose Us?</h1>
    <div class="service-container">
      <div class="service">
        <h2>Reliability</h2>
        <!-- <p>Our team is committed to providing reliable and efficient services. You can count on us to get the job done right, on time, and on budget.</p> -->
        <p>With years of experience in the scrap trading industry, we have built a reputation for reliability and integrity. Our transparent and fair practices ensure that every transaction is conducted with trust and professionalism</p>
      </div>
      <div class="service">
        <h2>Efficiency</h2>
        <!-- <p>We use state-of-the-art equipment and processes to ensure that our services are efficient and cost-effective.</p> -->
        <p> Our streamlined platform and efficient processes enable quick and hassle-free transactions, saving time and resources for our clients</p>
      </div>
      <div class="service">
        <h2>Sustainability</h2>
        <!-- <p>We are committed to sustainability and environmental responsibility. We recycle and reuse as much material as possible, and we dispose of waste in an environmentally friendly way.</p> -->
        <p>We are committed to promoting sustainability and environmental conservation through responsible scrap management practices. By recycling and reusing scrap materials, we contribute to the reduction of waste and the preservation of natural resources</p>
      </div>
      <div class="service">
        <h2>Customer Satisfaction</h2>
        <!-- <p>Customer satisfaction is our top priority. We are committed to providing our customers with excellent service and support.</p> -->
        <p>Customer satisfaction is our top priority. We strive to exceed our clients' expectations by providing exceptional service, personalized solutions, and ongoing support.</p>
      </div>
    </div>
  </section>
  <section class="mission revealOnScroll" id="mission">
    <h1>Our Mission</h1>
    <p>Our mission is to pioneer a circular economy where resources are utilized optimally and waste is minimized. Through innovative strategies and cutting-edge technologies, we are dedicated to efficiently managing scrap resources, thereby contributing to a greener and more sustainable future for generations to come.</p>
  </section>
  <section class="values revealOnScroll" id="values">
    <h1>Our Values</h1>
    <p>Our values are the foundation of everything we do. They guide our decision-making and ensure that we are always working towards a common goal. Our core values are:</p>
    <ul>
      <li>Integrity</li>
      <li>Respect</li>
      <li>Sustainability</li>
      <li>Excellence</li>
    </ul>
  </section>


  <!-- fifth screen   -->
  <div class="background-image">
    <div class="content">
      <h1 class="heading">Get Started Today</h1><br><br>
      <p class="text-bottom-left">Whether you are looking to sell scrap materials or seeking expert advice on<br>
        scrap management, Srika Scrap Wala is here to assist you every step of the way.<br>
        Join our platform today and become a part of our mission to build a more sustainable<br>
        future.<br>
        For inquiries or to learn more about our services, contact us today</p>
      <button class="conatct-btnn">Contact Us</button>
    </div>
  </div>
  
  



  <!-- sixth screen -->

  <!-- <section class="contact-us" id="contact">
    <h1>Get in touch with us</h1>
    <div class="contact-info">
      <p><span class="material-icons">phone</span> +91 98258 55658</p>
      <p><span class="material-icons">email</span> srikascrapwala@gmail.com</p>
      <p><span class="material-icons">place</span> 132 Dartmouth Street Boston, Massachusetts 02156 United States</p>
    </div>
    <div class="social-media">
      <a href="#"><span class="material-icons">find_in_page</span>  About</a>
      <a href="#"><span class="material-icons">restore</span>  Waste Recycling</a>
      <a href="#"><span class="material-icons">delete_sweep</span>  Office Demantang</a>
      <a href="#"><span class="material-icons">security</span>  Data Destruction</a>
      <a href="#"><span class="material-icons">restore_from_trash</span>  Refurbish</a>
    </div>
    <form>
      <label for="fname">First Name</label>
      <input type="text" id="fname" name="firstname" placeholder="Your name..">
      <label for="lname">Last Name</label>
      <input type="text" id="lname" name="lastname" placeholder="Your last name..">
      <label for="subject">Subject</label>
      <input type="text" id="subject" name="subject" placeholder="Enter Subject">
      <label for="message">Message</label>
      <textarea id="message" name="message" placeholder="Write your message here.."></textarea>
      <button type="submit">Send Message</button>
    </form>
  </section> -->
  
  <!-- <section class="contact-us" id="contact">
    <h1>Get in touch with us</h1>
    <div class="contact-container">
      <div class="contact-info">
        <p><span class="material-icons">phone</span> +91 98258 55658</p>
        <p><span class="material-icons">email</span> srikascrapwala@gmail.com</p>
        <p><span class="material-icons">place</span> 132 Dartmouth Street Boston, Massachusetts 02156 United States</p>
      </div>
      <div class="social-media">
        <a href="#"><span class="material-icons">find_in_page</span>  About</a>
        <a href="#"><span class="material-icons">restore</span>  Waste Recycling</a>
        <a href="#"><span class="material-icons">delete_sweep</span>  Office Demantang</a>
        <a href="#"><span class="material-icons">security</span>  Data Destruction</a>
        <a href="#"><span class="material-icons">restore_from_trash</span>  Refurbish</a>
      </div>
    </div>
    <form>
      <label for="fname">First Name</label>
      <input type="text" id="fname" name="firstname" placeholder="Your name..">
      <label for="lname">Last Name</label>
      <input type="text" id="lname" name="lastname" placeholder="Your last name..">
      <label for="subject">Subject</label>
      <input type="text" id="subject" name="subject" placeholder="Enter Subject">
      <label for="message">Message</label>
      <textarea id="message" name="message" placeholder="Write your message here.."></textarea>
      <button type="submit">Send Message</button>
    </form>
  </section> -->


  <div class="contact-container">
    <div class="contact-info">
      <h2>Get in touch with us</h2>
      <p><i class="fas fa-phone-alt"></i> +91 9100788900/ 9100012203</p>
      <p><i class="fas fa-envelope"></i> srikascrapwala@gmail.com</p>
      <p><i class="fas fa-map-marker-alt"></i> Our offices are in Hyderabad and Bengaluru</p>
    </div>
    <div class="contact-form">
      <form action="https://formsubmit.co/info@sirikascrapwala.com" method="POST" >
        <div class="form-group">
          <input type="text" name="FirstName" placeholder="First Name" style="width: 49%;">
          <input type="text" name="LastName" placeholder="Last Name" style="width: 49%;">
        </div>
        <div class="form-group">
          <input type="email" name="email" placeholder="Email" style="width: 49%;">
          <input type="text" name="phone" placeholder="Phone Number" style="width: 49%;">
        </div>
        <textarea name="Message" placeholder="Write your message..."></textarea>
        <button type="submit">Send Message</button>
      </form>
    </div>
  </div>
  <app-footer></app-footer>
  
    

  